<h1>Menu du SPI</h1>


<a href="{{path('creationVehicule')}}">Création d'un véhicule</a><br>
<a href="{{path('creationIntervention')}}">Création d'une intervention</a><br>
<a href="{{path('repartition')}}">repartir d'un véhicule sur une intervention</a><br>
<a href="{{path('vehicules')}}">Historiques des véhicules</a><br>
<a href="{{path('interventions')}}">Registre des interventions</a><br>